.popup-form-block {
  width: 40%;
  margin-top: 34px;
  padding-left: 30px;
}
.form-field-btn-wrapper {
  margin-top: 20px;
  margin-left: 58px;
}
.popup-form-block input {
  font-size: 14px;
  padding: 7px 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}